.custom-query {
    font-size: 1.4em;
    line-height: 1.3em;
    background-color: transparent;
    padding-top: 0.8em;
    padding-bottom: 0.5em;
    resize: none;
    border: none;
    outline: none;
    flex-grow: 0;
    height: 100% !important;
    width: 100% !important;
    font-family: Nunito, sans-serif;
    min-height: 5em;
}
