.navigator {
    display: flex;
    flex-direction: row;
}

.buttons {
    flex-grow: 1;
    width: 50%;
}

.view {
    margin-left: 4em;
    width: 50%;
}

.year {
    width: 6em;
    display: inline-block;
    margin: 0.5em;
    padding: 0.25em 1em;
    font-size: 1em;
    background-color: #2374AB;
    border-radius: 0.4em;
    color: #ffffff;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
}

.year.selected {
    background-color: #1C3144;
}

.exam {
    width: 6em;
    display: inline-block;
    margin: 0.5em;
    padding: 0.25em 1em;
    font-size: 1em;
    background-color: #9FC2CC;
    border-radius: 0.4em;
    color: #ffffff;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
}

.exam.selected {
    background-color: #1C3144;
}

.question.selected, .custom.selected {
    background-color: #FFCB00;
}

.question {
    display: inline-block;
    margin: 0.5em;
    padding: 0.4em 1em 0.2em;
    font-size: 0.9em;
    background-color: #909090;
    border-radius: 0.4em;
    color: #ffffff;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
}

.custom {
    display: inline-block;
    margin: 0.5em;
    padding: 0.4em 1em 0.2em;
    font-size: 0.9em;
    background-color: #b920fa;
    border-radius: 0.4em;
    color: #ffffff;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
}
