:root {
    --background-color:              #F9F9F1;
    --text-color:                    #3E485C;
    --link-color:                    #F36331;
    --title-color:                   #5783A1;
    --round-button-color:            #191919;
    --cell-color:                    #C5EBFF;
    --label-new-chat-color:          #32A8E6;
    --label-color:                   #155F83;
    --modal-background-color:        #32A8E6;
    --modal-color:                   #FFFFFF;
    --modal-shadow-color:            #00000010;
    --chat-list-scrollbar-primary:   #5783A1;
    --chat-list-scrollbar-secondary: #F4F4F4;
    --chat-list-hover:               #5783A168;
    --chat-list-remove-button:       #5783A1;
    --chat-window-scrollbar-primary: #32A8E6;
    --rounded-right-button-color:    #FFFFFF;
    --mic-button-color:              #5783A1;
    --message-text-color:            #5783A1;
    --message-text-temperature-1:    #FFC046;
    --message-text-temperature-2:    #F36331;
    --message-text-disclaimer:       #9D58B6;
    --message-text-user:             #D1A953;
    --cell-bottom-background-color:  #FFFFFF;
    --cell-middle-background-color:  #FFFFFF;
    --cell-top-background-color:     #FFFFFF;
    --chat-bottom-background-color:  #FFFFFF;
    --chat-top-background-color:     #FFFFFF;
    --body-font: times, serif;
}
